:root {
  --todays-main-color: #ececff;
  --subfont-color: #7b7b7b;
  --large-font-size: 30px;
  --large-font-size-mobile: 28px;
  --medium-font-size: 20px;
  --medium-font-size-mobile: 18px;
  --small-font-size: 15px;
  --small-font-size-mobile: 13px;
  --bold-font-weight: 700;
  --medium-font-weight: 600;
  --light-font-weight: 500;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
