:root {
  --pc-toggle-button-size: 30px;
  --pc-toggle-width: 110px;
  --pc-toggle-height: 35px;
  --pc-left-margin: -100px;
  --mobile-toggle-width: 80px;
  --mobile-toggle-height: 20px;
  --mobile-left-margin: -70px;
}
.HomeHeader {
  margin-top: 40px;
  > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    :first-child {
      font-size: var(--logo-font-size);
      font-weight: var(--bold-font-weight);
      h1 {
        margin-left: 3rem;
      }
    }
    :last-child {
      position: relative;
      img {
        width: var(--pc-toggle-button-size);
        height: var(--pc-toggle-button-size);
        margin-right: 3rem;
      }
      > div {
        flex-direction: column;
        position: absolute;
        top: var(--pc-toggle-button-size);
        left: var(--pc-left-margin);
        border-radius: 10px;
        border: 0.5px solid black;
        :last-child {
          border: none;
        }
        > button {
          animation-name: pcToggleAnimation;
          animation-duration: 0.3s;
          animation-fill-mode: forwards;
          width: var(--pc-toggle-width);
          height: var(--pc-toggle-height);
          border-bottom: 1px black solid;
          font-size: var(--small-font-size);
          font-weight: var(--small-font-weight);
        }
      }
    }
  }
  .todayInform {
    margin: 70px 0 0 3rem;
    font-size: var(--large-font-size-mobile);
    font-weight: var(--medium-font-weight);
  }

  @media screen and (max-width: 768px) {
    > ul {
      :first-child {
        font-size: var(--logo-font-size-mobile);
        font-weight: var(--bold-font-weight);
        h1 {
          margin-left: 20px;
        }
      }
      :last-child {
        img {
          margin-right: 20px;
        }
        > div {
          top: var(--mobile-toggle-button-size);
          left: var(--mobile-left-margin);

          > button {
            animation-name: mobileToggleAnimation;
            width: var(--mobile-toggle-width);
            height: var(--mobile-toggle-height);
            font-size: var(--small-font-size);
            font-weight: var(--small-font-weight);
          }
        }
      }
    }
    .todayInform {
      margin: 50px 20px 0 20px;
      font-size: var(--medium-font-size);
      font-weight: var(--medium-font-weight);
    }
  }
}

@keyframes pcToggleAnimation {
  0% {
    color: #fff;
    width: 0;
    height: 0;
  }
  100% {
    color: #000;
    width: var(--pc-toggle-width);
    height: var(--pc-toggle-height);
  }
}
@keyframes mobileToggleAnimation {
  0% {
    color: #fff;
    width: 0;
    height: 0;
  }
  100% {
    color: #000;
    width: var(--mobile-toggle-width);
    height: var(--mobile-toggle-height);
  }
}
