:root {
  --toggle-button-size-pc: 30px;
  --toggle-width-pc: 110px;
  --toggle-height-pc: 35px;
  --plus-top-margin-pc: 35px;
  --plus-left-margin-pc: -90px;
  --mypage-left-margin-pc: -50px;
  --toggle-width-mobile: 80px;
  --toggle-height-mobile: 25px;
  --plus-left-margin-mobile: -65px;
  --mypage-left-margin-mobile: -25px;
}

.HomeHeader {
  position: relative;
  padding-top: 40px;
  > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    :first-child {
      font-size: var(--logo-font-size);
      font-weight: var(--bold-font-weight);
      h1 {
        margin-left: 3rem;
      }
    }
    :last-child {
      position: relative;
      img {
        width: var(--toggle-button-size-pc);
        height: var(--toggle-button-size-pc);
        margin-right: 3rem;
      }
      img:first-child {
        margin-right: 0.8rem;
      }

      > div {
        flex-direction: column;
        position: absolute;
        top: var(--plus-top-margin-pc);
        left: var(--plus-left-margin-pc);
        border-radius: 5px;
        border: 0.5px solid black;
        :last-child {
          border: none;
        }

        > button {
          animation-name: pcToggleAnimation;
          animation-duration: 0.3s;
          animation-fill-mode: forwards;
          width: var(--toggle-width-pc);
          height: var(--toggle-height-pc);
          border-bottom: 1px black solid;
          font-size: var(--small-font-size);
          font-weight: var(--small-font-weight);
          &:hover {
            background-color: #eceff1;
          }
        }
      }
      > div:last-child {
        left: var(--mypage-left-margin-pc);
      }
    }
  }
  .todayInform {
    margin: 70px 0 0 3rem;
    font-size: var(--large-font-size-mobile);
    font-weight: var(--medium-font-weight);
  }
}

@media screen and (max-width: 768px) {
  .HomeHeaderWrap {
    // position: relative;
  }
  .HomeHeader {
    position: relative;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 9;
    > ul {
      :first-child {
        font-size: var(--logo-font-size-mobile);
        font-weight: var(--bold-font-weight);
        h1 {
          margin-left: 20px;
        }
      }
      :last-child {
        img {
          margin-right: 20px;
        }
        > div {
          top: var(--toggle-button-size-mobile);
          left: var(--plus-left-margin-mobile);

          > button {
            background-color: #fff;
            animation-name: mobileToggleAnimation;
            width: var(--toggle-width-mobile);
            height: var(--toggle-height-mobile);
            font-size: var(--small-font-size);
            font-weight: var(--small-font-weight);
          }
        }
        > div:last-child {
          left: var(--mypage-left-margin-mobile);
        }
      }
    }
    .todayInform {
      margin: 50px 20px 0 20px;
      font-size: var(--medium-font-size);
      font-weight: var(--medium-font-weight);
    }
  }
}

@keyframes pcToggleAnimation {
  0% {
    color: #fff;
    height: 0;
  }
  100% {
    color: #000;
    height: var(--toggle-height-pc);
  }
}
@keyframes mobileToggleAnimation {
  0% {
    color: #fff;
    height: 0;
  }
  100% {
    color: #000;
    height: var(--toggle-height-mobile);
  }
}
