.LoginArticle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  > a {
    color: black;
    text-decoration: none;
  }

  > li {
    &::before {
      content: "|";
      padding: 0 5px;
      color: #bdbdbd;
    }
    &:first-child::before {
      content: "";
      padding: 0;
    }
    &:nth-child(1) {
      color: #bdbdbd;
    }
    &:nth-child(2) {
      color: #bdbdbd;
    }
  }
}
