.LoginSection {
  display: flex;
  margin: 42px auto 0 auto;
  flex-direction: column;
  @media screen and (max-width: 768px) {
    margin: 24px auto 0 auto;
  }
  .loginGuide {
    display: flex;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--notice-color);
    margin: 5px 0 0 10px;
  }
}
